html, body {
	height: 100%;
}

code, pre {
	font-family: monospace;
}

/*styling*/

article{
	width: 80%;
	margin: auto;
}

header {
	margin-top: 50px;
	margin-bottom: 40px;
}

/* Move down content because we have a fixed navbar that is 50px tall. From jumbotron.css */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.btn-primary {
	background-color: #ffaf46;
	border-color: #ffaf46;
	color: black;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
	background-color: #ff9000;
	border-color: #ff9000;
	color: black;
}

.navbar-inverse{
	background-color: #2681b2;
	border-color: #2681b2;
}

.navbar-inverse .navbar-nav > li > a{
	color: white;
}

/*.jumbotron{
	background-color: #ffaf46;
}